@media (max-width: 768px) {
    .grid-view .member {
        flex: 1 1 100%;
    }

    .list-view .member img {
        max-width: 80px;
    }
}


body.dark-mode {
    background-color: #333;
    color: #fff;
    
}

body.dark-mode header,
body.dark-mode nav,
body.dark-mode footer {
    background-color: #444;
}
body.dark-mode p{
    color: black;
}

body.dark-mode a {
    color: #bb86fc;
}

body.dark-mode .hamburger {
    color: #fff;
}
.mode {
    top: 40px;
    left:0px;
}

@media (min-width: 480px){
    .red-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }
    .contact-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }
}

