@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 0px; 
        z-index: 1001; 
        cursor: pointer; 
    }

    nav {
        display: none;
    }

    nav ul {
        position: absolute;
        width: 100%;
        background-color:black;
        top: 60px; 
        left: 0;
        padding-top: 20px;
        padding-bottom: 30px;
        z-index: 1000; 
    }

    nav ul li {
        display: block;
        text-align: center;
        margin-right: 0;
    }

    nav ul li a {
        display: block;
        padding: 10px;
    }

    nav ul li:last-child a {
        border-bottom: none;
    }

    .join-form-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    #toggleView {
        width: 100%;
        margin-bottom: 1rem;
    }

    .list-view .member {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-view .member img {
        max-width: 100%;
        margin: 0 0 1rem 0;
    }
    .red-grid{
        display:block;
    }
}
p .copyright{
    color: red;
}
p .contact{
    color:red
}
