@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&display=swap');


@media (max-width: 480px) {
    #toggleView {
        width: 100%;
        margin-bottom: 1rem;
    }

    .list-view .member {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-view .member img {
        max-width: 100%;
        margin: 0 0 1rem 0;
    }
    .red-grid{
        display:block;
    }
}
p .copyright{
    color: red;
}
p .contact{
    color:red
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: beige;
    color: darkred;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding-top: 200px;
    padding-bottom:200px;
}
#hero img{
    max-width: 100%;

}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}

.button-link:hover {
    background-color: darkred;
}

.button-link:active {
    background-color: darkred;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#rentals, #weather {
    padding: 20px;
    background-color: darkred;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: turquoise;
    ;
}

#rentals h2, #weather h2 {
    text-align: center;
    color: turquoise;
}
#rentals p #weaather p{
    color: turquoise;
}

.weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#weather img {
    width: 50px;
    height: 50px;
}

footer {
    background-color: beige;
    color: darkred;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#rentals {
    text-align: center;;
}
#rentals h2 {
    text-align : center;
}
#weather{
    text-align:center;
}
#weather h2{
    text-align:center;
}
#weather h3{
    text-align: right;
}
.forcast{
    text-align: center;
}
#rentals-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.rental-card {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    width: 30%;
    margin: 1rem;
}

.rental-card img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}
#rental-agreement {
    margin-bottom: 2rem;
}

#reservation-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

.footer-logo,
.footer-additional {
    margin-bottom: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

#contact-info,
#map,
#contact-form {
    margin-bottom: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-left: 30px
}

.form-group label {
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

.footer-logo,
.footer-additional {
    margin-bottom: 1rem;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#confirmation-message {
    text-align: center;
    margin-top: 2rem;
}

#confirmation-message h2 {
    font-size: 2rem;
    color: #333;
}

#confirmation-message p {
    font-size: 1.5rem;
    color: #555;
}
#confirmation-message {
    text-align: center;
    margin-top: 2rem;
}

#confirmation-message h2 {
    font-size: 2rem;
    color: #333;
}

#confirmation-message p {
    font-size: 1.5rem;
    color: #555;
}

gmp-map {
    height: 600px;
    width: 100%;
}

body, h1, h2, h3, p, ul, li, nav, header, main, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #404040;
    background-color: #f4f4f4;
}

header, nav, main, footer {
    padding: 20px;
    text-align: center;
}

header img {
    height: 150px;
    margin-right: 20px;
}
header h1 {
    font-size: 2em;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
nav ul {
    list-style-type: none;
    background-color: darkred;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.activity:visited {
    color: purple;
}

main {
    background: white;
    padding: 20px;
    margin-top: 20px;
}

h2, h3 {
    color: #006D77;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background-color: #E8E8E8;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
}
.card-image {
    max-width: 100%; 
}




.hamburger {
    display: none; 
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1001; 
}
.nav-menu-li {
    display: none;
}
.nav-menu {
    display: none;
}

iframe {
    width: 100%;
}

.picture img {
    width: 100%;
    height: auto;
}
.herolabel {
    position: absolute;
    top: 0%;
    left: 20%;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0,0,0,.75);
    padding: 0rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family:"Great Vibes", serif;
}
.hero {
    position: relative;
}
.responsive-img {
    width: 100%;
    height: auto;
}
#visit-counter {
    grid-column: span 2;
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#visit-counter h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#visit-counter p {
    font-size: 1.5rem;
    color: #333;
}
.map-container {
    width: 100%;
}

.map-iframe {
    width: 100%;
    height: 600px;
    border: none;
}


.main-content img:hover {
    transform: scale(1.05);
    border: 5px solid teal;
}

